body {
    text-align: center;
    margin: 0;
    color: #40514E;
    font-family: Verdana, sans-serif;
}

p {
    line-height: 2;
}

h1 {

    margin: 0 auto;
    font-size: 2.5rem;
    color: #66BFBF;
    line-height: 2;

    font-family: Garamond, serif;
}


h2 {
    color: #66BFBF;
    font-family: Times New Roman, serif;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: Times New Roman, serif;
    color: #11999E;
    font-size: 25px;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.cloud {
    position: absolute;
    right: 300px;

}

.top {
    background-color: #E4F9F5;
    padding-top: 70px;
    margin: 0;


}

.middle {

}

.lower {

}

.pro {
    text-decoration: underline;
}

.profile {
    border-image-width: 20px;
}

.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    line-height: 2;
}

.skills-row {
    margin: 100px auto 100px auto;
    width: 50%;
    line-height: 2;
}

.skimg {
    width: 15%;
    float: left;
    margin: 30px;

}

.rwskill {
    width: 15%;
    float: right;
    margin: 30px;
}

.bio {
    width: 30%;
    margin: auto;
}
.contactme
{
	width: 40%;
    margin: 40px auto 60px;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
    font-family: Times New Roman, serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
    margin: 40px auto 60px;

}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.bottom-container {
	background: #66BFBF;
	padding: 50px 0 20px;
}
a
{
	color: #11999E;
	font-family: Times New Roman, serif;
	margin: 10PX 20PX;
	text-decoration: none;
}

a:hover
{
	color: #EAF6F6;
}

.copyright
{
	color: #EAF6F6;
	font-size: 0.75rem;
}

.profile
{
	margin: 40px;
}